<!DOCTYPE html>
<html>
<title>Data | Roots</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="static/images/roots-logo.png" sizes="16x16">
<link rel="stylesheet" href="static/css/style.css" />
<!-- <link rel="stylesheet" href="css/footer.css" /> -->
<!-- <link rel="stylesheet" href="css/nav.css" /> -->
<link rel="stylesheet" href="static/css/course-page.css" />
<body>

  <div class="flexRow">
    <!-- Sidebar -->
      <div class="sidebar-content">
        <div class="back-buttons">
          <a href="index.html">
            <h1>&lt <img src="static/images/roots-logo1.png" width="80"></h1>
          </a>
        </div>
        <h3 class="bar-heading">Data</h3>
        <ul>
          <li>
            <a href="data_real_first_page.html" class="side-link">Part 1: What is Data?</a>
          </li>
          <li>
            <a href="data-knowledge.html" class="side-link">Knowledge</a>
          </li>
          <li>
            <a href="data-wisdom.html" class="side-link">Wisdom</a>
          </li>
          <li>
            <a href="databases-intro.html" class="side-link">Part 2: Intro to Databases</a>
          </li>
          <li>
            <a href="how-databases-work.html" class="side-link">Relational Databases</a>
          </li>
          <li>
            <a href="relational_databases.html" class="side-link">Important Terms</a>
          </li>
          <li>
            <a href="part_3_landing_page.html" class="side-link">Part 3: Real Life</a>
          </li>
    
          <li>
            <a href="how-they-do-it.html" class="side-link">How do they do it?</a>
          </li>
          <li>
            <a href="checking-gang-database.html" class="side-link active">Chicago Gang Database</a>
          </li>
          <li>
            <a href="what-else.html" class="side-link">What else can you do</a>
          </li>
          <li>
            <a href="databases-resources.html" class="side-link">Resources</a>
          </li>
        </ul>
      </div>
<!-- Page Content -->
<div class="course-content">
  <h1 class="bar-heading">Part 3: Real Life</h1>
  <div class="text-container">

<p>Now let’s talk about the Chicago Gang Database that is being used by the Chicago Police Department; another agent that doesn’t really follow those guidelines we laid out, which also corrupts the power of databases. 
  </p>

  <p> We aren't able to know too much about it, but here are some things that we do know:
    <ul>
      <li>- It includes information about 128,000 people and counting 
      </li>

      <li>
- It is inaccurate in that it includes 13 people who are supposedly 118 years old — and two others listed as 132. For the record, the oldest person to ever live lived to be 122 years old. 
      </li>
    </ul>
  </p>

  <p>
    It is also inaccurate in that the CPD doesn’t even know exactly where their data is really even coming from; Police add people to the database for reasons like their race and the neighborhoods where they lived, or if they suspect that they are in a gang or have gang tattoos

  </p>

  </div>
  <div class="next-button">
    <button onclick="window.location.href='big_deal.html'">
      What's the big deal?  
    </button>
  </div>

</div>

</body>
</html>