<!DOCTYPE html>
<html>
<title>Facial Recognition | Roots</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="static/images/roots-logo.png" sizes="16x16">
<link rel="stylesheet" href="static/css/style.css" />
<!-- <link rel="stylesheet" href="css/footer.css" /> -->
<!-- <link rel="stylesheet" href="css/nav.css" /> -->
<link rel="stylesheet" href="static/css/course-page.css" />
<body>

<div class="flexRow">
<!-- Sidebar -->
  <div class="sidebar-content">
    <div class="back-buttons">
      <a href="index.html">
        <h1>&lt <img src="static/images/roots-logo1.png" width="80"></h1>
      </a>
    </div>
    <h3 class="bar-heading">Facial Recognition</h3>
    <ul>
      <li>
        <a href="course-page.html" class="side-link">Facial Recognition</a>
      </li>
      <li>
        <a href="course-page2.html" class="side-link">How It Works</a>
      </li>
      <li>
        <a href="course-page3.html" class="side-link">STEP 1: Face Detection</a>
      </li>
      <li>
        <a href="course-page4.html" class="side-link">STEP 2: Facial Landmark Estimation</a>
      </li>
      <li>
        <a href="course-page5.html" class="side-link">Storytime</a>
      </li>
      <li>
        <a href="course-page6.html" class="side-link">STEP 3: Face Encoding</a>
      </li>
      <li>
        <a href="course-page7.html" class="side-link">STEP 4: Face Comparison</a>
      </li>
      <li>
        <a href="course-page8.html" class="side-link">Machine Learning</a>
      </li>
      <li>
        <a href="course-page9.html" class="side-link">Algorithmic Bias</a>
      </li>
      <li>
        <a href="course-page10.html" class="side-link">Storytime</a>
      </li>
      <li>
        <a href="course-page11.html" class="side-link">Police and Surveillance</a>
      </li>
      <li>
        <a href="course-page12.html" class="side-link active">Resources and Attribution</a>
      </li>
    </ul>
  </div>
<!-- Page Content -->
<div class="course-content">
  <h1 class="bar-heading">Resources</h1>
  <div class="text-container">
    <h2>Articles</h2>
    <p>
      <ul>
        <li><a href="https://messaging-custom-newsletters.nytimes.com/template/oakv2?campaign_id=158&emc=edit_ot_20200609&instance_id=19226&nl=on-tech-with-shira-ovide&productCode=OT&regi_id=95791674&segment_id=30468&te=1&uri=nyt%3A%2F%2Fnewsletter%2F04d19fe4-fa11-476f-b0ec-ffce584086e5&user_id=94789a332115776ee803d55bc1e931f0">A case for banning facial recognition</a></li>
        <li><a href="https://medium.com/@ageitgey/machine-learning-is-fun-part-4-modern-face-recognition-with-deep-learning-c3cffc121d78">How Face Recognition Technology Works with Adam Geitgey, creator of the face_recognition python module</a></li>
        <li><a href="https://www.eff.org/pages/face-recognition">Facial Recognition - Electronic Frontier Foundation</a></li>
        
      </ul>
    </p>
    <h2>Videos</h2>
    <p>
      <ul>
        <li><a href="https://www.youtube.com/watch?v=cc0dqW2HCRc">What Facial Recognition Steals From Us - Vox</a></li>
        <li><a href="https://www.youtube.com/watch?v=JhvhtzJAEDc">Facial recognition is everywhere, but are we ready for it? - Engadget</a></li>
      </ul>
    </p>
    <h2>Studies and Papers</h2>
    <p>
      <ul>
        <li><a href="https://www.nist.gov/news-events/news/2019/12/nist-study-evaluates-effects-race-age-sex-face-recognition-software">NIST Demographic Effects of Facial Recognition study</a></li>
        <li><a href="https://reader.elsevier.com/reader/sd/pii/S1077314219301183?token=D2D194C739DD5A031C1B60DCE9594204C64103AEFCEDEE6BB91E849E9014FC70F57E08F2ED40568D55F65F8DB3003F66">A Survey on Deep Learning-based Facial Recognition</a></li>
        <li><a href="https://github.com/ChanChiChoi/awesome-Face_Recognition">Compilation of datasets and papers</a></li>
      </ul>
    </p>
  </div>
  <div class="next-button">
    <button onclick="window.location.href='index.html'">
      Back to Home
    </button>
  </div>

</div>

</body>
</html>
