<!DOCTYPE html>
<html>
<title>Data | Roots</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="static/images/roots-logo.png" sizes="16x16">
<link rel="stylesheet" href="static/css/style.css" />
<!-- <link rel="stylesheet" href="css/footer.css" /> -->
<!-- <link rel="stylesheet" href="css/nav.css" /> -->
<link rel="stylesheet" href="static/css/course-page.css" />
<body>

<div class="flexRow">
<!-- Sidebar -->
  <div class="sidebar-content">
    <div class="back-buttons">
      <a href="index.html">
        <h1>&lt <img src="static/images/roots-logo1.png" width="80"></h1>
      </a>
    </div>
    <h3 class="bar-heading">Data</h3>
    <ul>
      <li>
        <a href="data_real_first_page.html" class="side-link active">Part 1: What is Data?</a>
      </li>
      <li>
        <a href="data-knowledge.html" class="side-link">Knowledge</a>
      </li>
      <li>
        <a href="data-wisdom.html" class="side-link">Wisdom</a>
      </li>
      <li>
        <a href="databases-intro.html" class="side-link">Part 2: Intro to Databases</a>
      </li>
      <li>
        <a href="how-databases-work.html" class="side-link">Relational Databases</a>
      </li>
      <li>
        <a href="relational_databases.html" class="side-link">Important Terms</a>
      </li>
      <li>
        <a href="part_3_landing_page.html" class="side-link">Part 3: Real Life</a>
      </li>

      <li>
        <a href="how-they-do-it.html" class="side-link">How do they do it?</a>
      </li>
      <li>
        <a href="checking-gang-database.html" class="side-link">Chicago Gang Database</a>
      </li>
      <li>
        <a href="what-else.html" class="side-link">What else can you do</a>
      </li>
      <li>
        <a href="databases-resources.html" class="side-link">Resources</a>
      </li>
    </ul>
  </div>
<!-- Page Content -->
<div class="course-content">
  <h1 class="bar-heading">Data</h1>
  <div class="text-container">
    <h2 class="bar-heading">Part 1: What is Data?</h2>
    <p>
        <p>We all know about Social Media websites/platforms like Facebook, Instagram, and Twitter; E-commerce websites like Amazon and Ebay, and even music streaming services like Spotify and Pandora. All these services collect huge amounts of data, you’re data, and do something with it. 
<p>
            In this learning module, you will learn more about how that data is collected, brought together, and analyzed in the form of databases, as well as what the ethical implications behind that may be, especially as it relates to something that might hit home a little closer than you might think: the Chicago Gang Database. 
</p>
<p>
            As we discuss databases, we’ll also talk about the different types of databases that exist, and how those might inform the conclusions that may be made from analyzing those databases.   
        </p>        
        <p>
            (also insert part about twitter and how that data can be really easily collected and manipulated to find what you want without needing any extra permissions or anything like that) 
            </p>
            
            <p>
            But before we dive into all that, we first need to know what data actually is! 
        </p>
    </p>

  </div>
  <div class="next-button">
    <button onclick="window.location.href='data-landing-page.html'">
      Next
    </button>
  </div>

</div>

</body>
</html>
