<!DOCTYPE html>
<html>
<title>Data | Roots</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="static/images/roots-logo.png" sizes="16x16">
<link rel="stylesheet" href="static/css/style.css" />
<!-- <link rel="stylesheet" href="css/footer.css" /> -->
<!-- <link rel="stylesheet" href="css/nav.css" /> -->
<link rel="stylesheet" href="static/css/course-page.css" />
<body>

  <div class="flexRow">
    <!-- Sidebar -->
      <div class="sidebar-content">
        <div class="back-buttons">
          <a href="index.html">
            <h1>&lt <img src="static/images/roots-logo1.png" width="80"></h1>
          </a>
        </div>
        <h3 class="bar-heading">Data</h3>
        <ul>
          <li>
            <a href="data_real_first_page.html" class="side-link">Part 1: What is Data?</a>
          </li>
          <li>
            <a href="data-knowledge.html" class="side-link">Knowledge</a>
          </li>
          <li>
            <a href="data-wisdom.html" class="side-link">Wisdom</a>
          </li>
          <li>
            <a href="databases-intro.html" class="side-link active">Part 2: Intro to Databases</a>
          </li>
          <li>
            <a href="how-databases-work.html" class="side-link">Relational Databases</a>
          </li>
          <li>
            <a href="relational_databases.html" class="side-link">Important Terms</a>
          </li>
          <li>
            <a href="part_3_landing_page.html" class="side-link">Part 3: Real Life</a>
          </li>
    
          <li>
            <a href="how-they-do-it.html" class="side-link">How do they do it?</a>
          </li>
          <li>
            <a href="checking-gang-database.html" class="side-link">Chicago Gang Database</a>
          </li>
          <li>
            <a href="what-else.html" class="side-link">What else can you do</a>
          </li>
          <li>
            <a href="databases-resources.html" class="side-link">Resources</a>
          </li>
        </ul>
      </div>
<!-- Page Content -->
<div class="course-content">
  <h1 class="bar-heading">Part 2: Intro to Databases</h1>
  <div class="text-container">

    <p>
      Again returning back to the information ladder, the goal of databases is to transform data into information in order to generate knowledge that can be used for decision making. 
</p>

<p> We're working with the part of the information ladder that goes from data to information:
  <p>
    <div style="width:50%;height:200px;background-color:black;text-align:center;">
      <a href="https://lh3.googleusercontent.com/cvnk90TmKJf3KqXIEFurIeOUhEdntKELnXRxBuM1aqRJWDzpVbR_ZTRgDc3Rgb43GCya2BQXjHUIMIkuCb1Er_T6DwfeO_LSqt6WnldcKuAE6tgop-Qz9xj_ttN6PV-kJo7-PzIFVg=w786-h278" target="_blank">
        <img style="height:100%;border:0;" src="https://lh3.googleusercontent.com/cvnk90TmKJf3KqXIEFurIeOUhEdntKELnXRxBuM1aqRJWDzpVbR_ZTRgDc3Rgb43GCya2BQXjHUIMIkuCb1Er_T6DwfeO_LSqt6WnldcKuAE6tgop-Qz9xj_ttN6PV-kJo7-PzIFVg=h480" />
      </a>
    </div>
    
    
  </p>
</p>

<p>They do this by taking data, putting the data into context, and providing tools for aggregation and analysis so we can produce knowledge. 
</p>

<p>In simple terms, Databases are collections of tables, organized in columns and rows. 
</p>

  </div>
  <div class="next-button">
    <button onclick="window.location.href='databases-info.html'">
      Next
    </button>
  </div>

</div>

</body>
</html>