<!DOCTYPE html>
<html>
<title>Data | Roots</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="static/images/roots-logo.png" sizes="16x16">
<link rel="stylesheet" href="static/css/style.css" />
<!-- <link rel="stylesheet" href="css/footer.css" /> -->
<!-- <link rel="stylesheet" href="css/nav.css" /> -->
<link rel="stylesheet" href="static/css/course-page.css" />
<body>

  <div class="flexRow">
    <!-- Sidebar -->
      <div class="sidebar-content">
        <div class="back-buttons">
          <a href="index.html">
            <h1>&lt <img src="static/images/roots-logo1.png" width="80"></h1>
          </a>
        </div>
        <h3 class="bar-heading">Data</h3>
        <ul>
          <li>
            <a href="data_real_first_page.html" class="side-link">Part 1: What is Data?</a>
          </li>
          <li>
            <a href="data-knowledge.html" class="side-link">Knowledge</a>
          </li>
          <li>
            <a href="data-wisdom.html" class="side-link">Wisdom</a>
          </li>
          <li>
            <a href="databases-intro.html" class="side-link active">Part 2: Intro to Databases</a>
          </li>
          <li>
            <a href="how-databases-work.html" class="side-link">Relational Databases</a>
          </li>
          <li>
            <a href="relational_databases.html" class="side-link">Important Terms</a>
          </li>
          <li>
            <a href="part_3_landing_page.html" class="side-link">Part 3: Real Life</a>
          </li>
    
          <li>
            <a href="how-they-do-it.html" class="side-link">How do they do it?</a>
          </li>
          <li>
            <a href="checking-gang-database.html" class="side-link">Chicago Gang Database</a>
          </li>
          <li>
            <a href="what-else.html" class="side-link">What else can you do</a>
          </li>
          <li>
            <a href="databases-resources.html" class="side-link">Resources</a>
          </li>
        </ul>
      </div>
<!-- Page Content -->
<div class="course-content">
  <h1 class="bar-heading">Part 2: Intro to Databases</h1>
  <div class="text-container">

    <p>
      The most popular form of database is a relational database, which is one in which data is organized into one or more tables, with each table being related to another in some way. 

        </p>

<p>   Other types of databases include:

  <ul>
    <li>Centralised database</li>
    <li>Distributed database</li>
    <li>Personal database</li>
    <li>End-user database</li>
    <li>Commercial database</li>
    <li>NoSQL database</li>
    <li>Operational database</li>
    <li>Cloud database</li>
    <li>Object-oriented database</li>
    <li>Graph database</li>
  </ul>

</p>

<p>
  A broader scope of the different types of databases and their relationships with each other can be seen in this graphic:
  <img src="https://cmapspublic2.ihmc.us/rid=1LD8BT43H-1V6L1W4-1JPT/Types%20of%20Databases.cmap?rid=1LD8BT43H-1V6L1W4-1JPT&partName=htmljpeg" width="786" height="278">

</p>

<p>
  Because relational databases are the most commonly used types of databases, that is the one we’ll be diving deeper into. 
</p>

<p>Let’s learn more about relational databases! 
</p>

  </div>
  <div class="next-button">
    <button onclick="window.location.href='how-databases-work.html'">
      Next
    </button>
  </div>

</div>

</body>
</html>