<!DOCTYPE html>
<html>
<title>Data | Roots</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="static/images/roots-logo.png" sizes="16x16">
<link rel="stylesheet" href="static/css/style.css" />
<!-- <link rel="stylesheet" href="css/footer.css" /> -->
<!-- <link rel="stylesheet" href="css/nav.css" /> -->
<link rel="stylesheet" href="static/css/course-page.css" />
<body>

  <div class="flexRow">
    <!-- Sidebar -->
      <div class="sidebar-content">
        <div class="back-buttons">
          <a href="index.html">
            <h1>&lt <img src="static/images/roots-logo1.png" width="80"></h1>
          </a>
        </div>
        <h3 class="bar-heading">Data</h3>
        <ul>
          <li>
            <a href="data_real_first_page.html" class="side-link">Part 1: What is Data?</a>
          </li>
          <li>
            <a href="data-knowledge.html" class="side-link">Knowledge</a>
          </li>
          <li>
            <a href="data-wisdom.html" class="side-link">Wisdom</a>
          </li>
          <li>
            <a href="databases-intro.html" class="side-link">Part 2: Intro to Databases</a>
          </li>
          <li>
            <a href="how-databases-work.html" class="side-link">Relational Databases</a>
          </li>
          <li>
            <a href="relational_databases.html" class="side-link">Important Terms</a>
          </li>
          <li>
            <a href="part_3_landing_page.html" class="side-link">Part 3: Real Life</a>
          </li>
    
          <li>
            <a href="how-they-do-it.html" class="side-link">How do they do it?</a>
          </li>
          <li>
            <a href="checking-gang-database.html" class="side-link">Chicago Gang Database</a>
          </li>
          <li>
            <a href="what-else.html" class="side-link">What else can you do</a>
          </li>
          <li>
            <a href="databases-resources.html" class="side-link active">Resources</a>
          </li>
        </ul>
      </div>
<!-- Page Content -->
<div class="course-content">
  <h1 class="bar-heading">Part 3: Real Life</h1>
  <div class="text-container">

    <h2>Resources</h2>

    <p>Learn more about data and privacy</p>
    <ul>
        <li><a href="https://turtler.io/news/data-privacy-in-social-media-who-takes-responsibility-and-data-protection-as-a-priority-feature">Data Privacy in Social Media: Who Takes Responsibility and Data Protection as a Priority Feature</a></li>
        <li><a href="https://www.cpomagazine.com/data-privacy/new-research-study-shows-that-social-media-privacy-might-not-be-possible/">New Research Study Shows That Social Media Privacy Might Not Be Possible</a></li>
        <li><a href="https://www.wired.com/story/adversarial-examples-machine-learning-privacy-social-media/">Blind Spots in AI Just Might Help Protect Your Privacy</a></li>
    </ul>

    <p>Learn SQL on Khan Academy by clicking 
    <a href="https://www.khanacademy.org/computing/computer-programming/sql">here!</a>
</p>


  </div>
  <div class="next-button">
    <button onclick="window.location.href='index.html'">
      Back to Home  
    </button>
  </div>

</div>

</body>
</html>