<!DOCTYPE html>
<html>
<title>Data | Roots</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="static/images/roots-logo.png" sizes="16x16">
<link rel="stylesheet" href="static/css/style.css" />
<!-- <link rel="stylesheet" href="css/footer.css" /> -->
<!-- <link rel="stylesheet" href="css/nav.css" /> -->
<link rel="stylesheet" href="static/css/course-page.css" />
<body>

  <div class="flexRow">
    <!-- Sidebar -->
      <div class="sidebar-content">
        <div class="back-buttons">
          <a href="index.html">
            <h1>&lt <img src="static/images/roots-logo1.png" width="80"></h1>
          </a>
        </div>
        <h3 class="bar-heading">Data</h3>
        <ul>
          <li>
            <a href="data_real_first_page.html" class="side-link">Part 1: What is Data?</a>
          </li>
          <li>
            <a href="data-knowledge.html" class="side-link">Knowledge</a>
          </li>
          <li>
            <a href="data-wisdom.html" class="side-link">Wisdom</a>
          </li>
          <li>
            <a href="databases-intro.html" class="side-link">Part 2: Intro to Databases</a>
          </li>
          <li>
            <a href="how-databases-work.html" class="side-link">Relational Databases</a>
          </li>
          <li>
            <a href="relational_databases.html" class="side-link active">Important Terms</a>
          </li>
          <li>
            <a href="part_3_landing_page.html" class="side-link">Part 3: Real Life</a>
          </li>
    
          <li>
            <a href="how-they-do-it.html" class="side-link">How do they do it?</a>
          </li>
          <li>
            <a href="checking-gang-database.html" class="side-link">Chicago Gang Database</a>
          </li>
          <li>
            <a href="what-else.html" class="side-link">What else can you do</a>
          </li>
          <li>
            <a href="databases-resources.html" class="side-link">Resources</a>
          </li>
        </ul>
      </div>
<!-- Page Content -->
<div class="course-content">
  <h1 class="bar-heading">Part 2: Intro to Databases</h1>
  <div class="text-container">

<p>
  The next term is the foreign key, which is also a column in a database table. It’s purpose is to provide a link between two tables by referencing the primary key of a table from another table. 
</p>

<p>
  <div style="width:50%;height:200px;background-color:black;text-align:center;">
    <a href="https://lh3.googleusercontent.com/J2V96FgD7rC8c7LwkhF9S05wGcf-3a_lGAxLQdepXF_9bR9QB_uos6x9UnCPh1jao6zMzmxw7jypa0lRrv0IHhtUvIFgyEvKdQ5AhfDsCMIWDkVyGyP5Bi9ymSBak9_1wWDJVHJ9Yw=w786-h278" target="_blank">
      <img style="height:100%;border:0;" src="https://lh3.googleusercontent.com/J2V96FgD7rC8c7LwkhF9S05wGcf-3a_lGAxLQdepXF_9bR9QB_uos6x9UnCPh1jao6zMzmxw7jypa0lRrv0IHhtUvIFgyEvKdQ5AhfDsCMIWDkVyGyP5Bi9ymSBak9_1wWDJVHJ9Yw=h480" />
    </a>
  </div>
</p>

<p>
  In the example above, we have a database of students' grades in different courses.
</p>
<p>
  In the first table, we've got a table of students' names and their ID numbers.
  The ID is a primary key because it is unique for each student.
</p>

<p>
  In the third table, we have a table of courses, with course names and course IDs as well.
</p>

<p>
  In the second table, we have a grades table which has foreign keys into both of those tables (this links the students table and courses table together through their primary keys) to give each student in each course a grade.
</p>

  </div>
  <div class="next-button">
    <button onclick="window.location.href='data_schema.html'">
      Next: Schema
    </button>
  </div>

</div>

</body>
</html>