<!DOCTYPE html>
<html>
<title>Data | Roots</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="static/images/roots-logo.png" sizes="16x16">
<link rel="stylesheet" href="static/css/style.css" />
<!-- <link rel="stylesheet" href="css/footer.css" /> -->
<!-- <link rel="stylesheet" href="css/nav.css" /> -->
<link rel="stylesheet" href="static/css/course-page.css" />
<body>

  <div class="flexRow">
    <!-- Sidebar -->
      <div class="sidebar-content">
        <div class="back-buttons">
          <a href="index.html">
            <h1>&lt <img src="static/images/roots-logo1.png" width="80"></h1>
          </a>
        </div>
        <h3 class="bar-heading">Data</h3>
        <ul>
          <li>
            <a href="data_real_first_page.html" class="side-link">Part 1: What is Data?</a>
          </li>
          <li>
            <a href="data-knowledge.html" class="side-link">Knowledge</a>
          </li>
          <li>
            <a href="data-wisdom.html" class="side-link">Wisdom</a>
          </li>
          <li>
            <a href="databases-intro.html" class="side-link">Part 2: Intro to Databases</a>
          </li>
          <li>
            <a href="how-databases-work.html" class="side-link">Relational Databases</a>
          </li>
          <li>
            <a href="relational_databases.html" class="side-link">Important Terms</a>
          </li>
          <li>
            <a href="part_3_landing_page.html" class="side-link active">Part 3: Real Life</a>
          </li>
    
          <li>
            <a href="how-they-do-it.html" class="side-link">How do they do it?</a>
          </li>
          <li>
            <a href="checking-gang-database.html" class="side-link">Chicago Gang Database</a>
          </li>
          <li>
            <a href="what-else.html" class="side-link">What else can you do</a>
          </li>
          <li>
            <a href="databases-resources.html" class="side-link">Resources</a>
          </li>
        </ul>
      </div>
<!-- Page Content -->
<div class="course-content">
  <h1 class="bar-heading">Part 3: Real Life</h1>
  <div class="text-container">
    <h2>How they do it</h2>
<p>
    Data scraping: tracking people’s activities online and harvesting personal data and conversations from social media, job websites and online forums. Usually, research companies are the harvesters, and sell the compiled data to other companies. These, in turn, use these details to design targeted ad campaigns for their products. While one might argue that people are knowingly sharing personal details on social media and thus, it’s free for everyone’s use, data harvesters don’t ask for the owner’s consent. And this raises an ethics as well as an online privacy problem
</p>
<p>
    Example of serious online privacy: May 2011. Nielsen Co., a media-research company, was caught scraping every message off PatientsLikeMe's online forums, where people talk about their emotional problems – in what they think is a safe, private environment
</p>
<p>
    Facebook apps leaking personal data: Facebook–Cambridge Analytica data scandal where millions of Facebook users' personal data was harvested without consent by Cambridge Analytica, predominantly to be used for political advertising
</p>
<p>
    How the “leakage” works: during the app’s installation process, you are prompted to accept certain terms, and once you click “Allow”, the application receives an “access token”. Some of the Facebook apps are leaking these access tokens to advertisers, granting them access to personal-profile data such as chat logs and photos. However, no disclaimer is shown announcing that your data is being transferred to third parties; Thus, your online privacy and safety are put at risk.
    Many apps like Farmville grab a user's ID number, which is unique, and can then pass them on to internet advertising companies. It says that all of the 10 most popular apps did so, including Zynga's FarmVille, Texas HoldEm Poker and FrontierVille. Three of the top 10, including FarmVille, also transmitted personal information about the user's friends to external companies (https://www.theguardian.com/technology/2010/oct/18/facebook-apps-data-privacy) 
    https://www.theguardian.com/technology/blog/2010/oct/06/facebook-privacy-phone-numbers-upload 
</p>
<p>
    Online social tracking: social widgets like  “Like”, “Tweet”, “+1”, and other buttons to share content with our friends are also valuable tracking tools for social media websites; They work with cookies – small files stored on a computer that enable tracking the user across different sites – that social websites place in browsers when you create an account or log in, and together they allow the social websites to recognize you on any site that uses these widgets. Thus, your interests and online shopping behaviour can be easily tracked, and your internet privacy invaded
</p>


  </div>
  <div class="next-button">
    <button onclick="window.location.href='checking-gang-database.html'">
      Next  
    </button>
  </div>

</div>

</body>
</html>