<!DOCTYPE html>
<html>
<title>Data | Roots</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="static/images/roots-logo.png" sizes="16x16">
<link rel="stylesheet" href="static/css/style.css" />
<!-- <link rel="stylesheet" href="css/footer.css" /> -->
<!-- <link rel="stylesheet" href="css/nav.css" /> -->
<link rel="stylesheet" href="static/css/course-page.css" />
<body>

  <div class="flexRow">
    <!-- Sidebar -->
      <div class="sidebar-content">
        <div class="back-buttons">
          <a href="index.html">
            <h1>&lt <img src="static/images/roots-logo1.png" width="80"></h1>
          </a>
        </div>
        <h3 class="bar-heading">Data</h3>
        <ul>
          <li>
            <a href="data_real_first_page.html" class="side-link">Part 1: What is Data?</a>
          </li>
          <li>
            <a href="data-knowledge.html" class="side-link">Knowledge</a>
          </li>
          <li>
            <a href="data-wisdom.html" class="side-link">Wisdom</a>
          </li>
          <li>
            <a href="databases-intro.html" class="side-link">Part 2: Intro to Databases</a>
          </li>
          <li>
            <a href="how-databases-work.html" class="side-link active">Relational Databases</a>
          </li>
          <li>
            <a href="relational_databases.html" class="side-link">Important Terms</a>
          </li>
          <li>
            <a href="part_3_landing_page.html" class="side-link">Part 3: Real Life</a>
          </li>
    
          <li>
            <a href="how-they-do-it.html" class="side-link">How do they do it?</a>
          </li>
          <li>
            <a href="checking-gang-database.html" class="side-link">Chicago Gang Database</a>
          </li>
          <li>
            <a href="what-else.html" class="side-link">What else can you do</a>
          </li>
          <li>
            <a href="databases-resources.html" class="side-link">Resources</a>
          </li>
        </ul>
      </div>
<!-- Page Content -->
<div class="course-content">
  <h1 class="bar-heading">Part 2: Intro to Databases</h1>
  <div class="text-container">

    <p>
      Like we said before, relational databases are one in which data is organized into one or more tables, with each table being related to another in some way. 
</p>
<p>
  Each table has a set of fields, which define the nature of the data stored in the table. A record is one instance of a set of fields in a table. To visualize this, think of the records as the rows of the table and the fields as the columns of the table. See the figure below.
  <p>  

    <div style="width:50%;height:200px;background-color:black;text-align:center;">
      <a href="https://lh3.googleusercontent.com/BttyjnLPD28AIGrdqJEYug7dUlG78SuPKKCsfrrKwoKn81f1-OIDHWXxGgRQt3bQCXG-2G-Zbi4DNf1SMTamwfwwPIGuRN0W3WigAtbLhTg8fi6BmPu9icTW4-G8fP102kP13RDm-A=w786-h278" target="_blank">
        <img style="height:100%;border:0;" src="https://lh3.googleusercontent.com/BttyjnLPD28AIGrdqJEYug7dUlG78SuPKKCsfrrKwoKn81f1-OIDHWXxGgRQt3bQCXG-2G-Zbi4DNf1SMTamwfwwPIGuRN0W3WigAtbLhTg8fi6BmPu9icTW4-G8fP102kP13RDm-A=h480" />
      </a>
    </div>
    
    
    

  </p>
</p>

<p>
  In the example above, we have a table of student information, with each row representing a student and each column representing one piece of information about the student. Each row, or record, represents a student, and each column represents one piece of information about the student: their First Name, Last Name, Major, or Birthdate. 

</p>

<p>
  Let's talk about the important terms that you need to know about databases
</p>

  </div>
  <div class="next-button">
    <button onclick="window.location.href='relational_databases.html'">
      Next
    </button>
  </div>

</div>

</body>
</html>