<!DOCTYPE html>
<html>
<title>Data | Roots</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="static/images/roots-logo.png" sizes="16x16">
<link rel="stylesheet" href="static/css/style.css" />
<!-- <link rel="stylesheet" href="css/footer.css" /> -->
<!-- <link rel="stylesheet" href="css/nav.css" /> -->
<link rel="stylesheet" href="static/css/course-page.css" />
<body>

  <div class="flexRow">
    <!-- Sidebar -->
      <div class="sidebar-content">
        <div class="back-buttons">
          <a href="index.html">
            <h1>&lt <img src="static/images/roots-logo1.png" width="80"></h1>
          </a>
        </div>
        <h3 class="bar-heading">Data</h3>
        <ul>
          <li>
            <a href="data_real_first_page.html" class="side-link active">Part 1: What is Data?</a>
          </li>
          <li>
            <a href="data-knowledge.html" class="side-link">Knowledge</a>
          </li>
          <li>
            <a href="data-wisdom.html" class="side-link">Wisdom</a>
          </li>
          <li>
            <a href="databases-intro.html" class="side-link">Part 2: Intro to Databases</a>
          </li>
          <li>
            <a href="how-databases-work.html" class="side-link">Relational Databases</a>
          </li>
          <li>
            <a href="relational_databases.html" class="side-link">Important Terms</a>
          </li>
          <li>
            <a href="part_3_landing_page.html" class="side-link">Part 3: Real Life</a>
          </li>
    
          <li>
            <a href="how-they-do-it.html" class="side-link">How do they do it?</a>
          </li>
          <li>
            <a href="checking-gang-database.html" class="side-link">Chicago Gang Database</a>
          </li>
          <li>
            <a href="what-else.html" class="side-link">What else can you do</a>
          </li>
          <li>
            <a href="databases-resources.html" class="side-link">Resources</a>
          </li>
        </ul>
      </div>
<!-- Page Content -->
<div class="course-content">
  <h1 class="bar-heading">Part 1: What is data?</h1>
  <div class="text-container">

    
        <p>Data is… 
          Raw bits and pieces of information that can be given context!           
    </p>

    <p>What does this mean? 
      Look at the panels to see some examples of what data can look like, and click them to learn more about what the context of that piece of data might be! 
      </p>

      <ul>
        <li>Images</li>
        <li>Numbers</li>
        <li>Faces (database)</li>
        <li> Audio </li>
      </ul>

      <p>
        <figure class="half" style="display:flex">

        <div style="width:30%;height:200px;background-color:black;text-align:center;">
          <a href="https://lh3.googleusercontent.com/RLLjce2OdO35sd1n4Fa_k7NmVSqaa2ZYS_o59yKUtaIx4W2mD8kFCVSncNh6FlcKwgAvpxHkxAa5I1PieCs4e5fqvB6o19YZfTLGIkOPeabI3h-W5TFC6kOsOQ6ISIib5qlKXIEB9g=w786-h278" target="_blank">
            <img style="height:100%;border:0;" src="https://lh3.googleusercontent.com/RLLjce2OdO35sd1n4Fa_k7NmVSqaa2ZYS_o59yKUtaIx4W2mD8kFCVSncNh6FlcKwgAvpxHkxAa5I1PieCs4e5fqvB6o19YZfTLGIkOPeabI3h-W5TFC6kOsOQ6ISIib5qlKXIEB9g=h480" />
          </a>
        </div>

        <div style="width:30%;height:200px;background-color:black;text-align:center;">
          <a href="https://lh3.googleusercontent.com/oyfeRCnOrwHfWzD53NZU3Hb11cSeH2Lo4XFc8-t6VJZekv5MO5AEha_ujx5UeGm4TkPbLVRuFQjxvuyP_ubeoMYwA7SSCzrC-18qfiwSRdp3e8R9WwZgGE7Cj0V7AUxb5OFjZ7kNXw=w786-h278" target="_blank">
            <img style="height:100%;border:0;" src="https://lh3.googleusercontent.com/oyfeRCnOrwHfWzD53NZU3Hb11cSeH2Lo4XFc8-t6VJZekv5MO5AEha_ujx5UeGm4TkPbLVRuFQjxvuyP_ubeoMYwA7SSCzrC-18qfiwSRdp3e8R9WwZgGE7Cj0V7AUxb5OFjZ7kNXw=h480" />
          </a>
        </div>

        <div style="width:30%;height:200px;background-color:black;text-align:center;">
          <a href="https://lh3.googleusercontent.com/eEVrNDme1cqwihGqLOCQs6MD7ZyQXEd8xslqD_nFpu7R6L5INscxEvR3DjUYPyAn2o3d1BOEbLhZcdfHjqpnYXR3kVYVsrm17b1CYSwWgTgUmcd79u0JmkM3aTX65s3O1CIxddmdhg=w786-h278" target="_blank">
            <img style="height:100%;border:0;" src="https://lh3.googleusercontent.com/eEVrNDme1cqwihGqLOCQs6MD7ZyQXEd8xslqD_nFpu7R6L5INscxEvR3DjUYPyAn2o3d1BOEbLhZcdfHjqpnYXR3kVYVsrm17b1CYSwWgTgUmcd79u0JmkM3aTX65s3O1CIxddmdhg=h480" />
          </a>
        </div>

        <div style="width:30%;height:200px;background-color:black;text-align:center;">
          <a href="https://lh3.googleusercontent.com/1UWU1xrOsJ49-x2muelqtD7V8yVey9ryyCBiJK4vveebtQKCQnFOkqDsXfTP9DGrpLADTWOurbjMmnvGILbKQZOlOpdeO2CrGwkTnPtcSqxXX7ymfgsyPL3KfHkYj7twcZB6JMdmMQ=w786-h278" target="_blank">
            <img style="height:100%;border:0;" src="https://lh3.googleusercontent.com/1UWU1xrOsJ49-x2muelqtD7V8yVey9ryyCBiJK4vveebtQKCQnFOkqDsXfTP9DGrpLADTWOurbjMmnvGILbKQZOlOpdeO2CrGwkTnPtcSqxXX7ymfgsyPL3KfHkYj7twcZB6JMdmMQ=h480" />
          </a>
        </div>
                

      </figure>

        

      </p>

  </div>
  <div class="next-button">
    <button onclick="window.location.href='data-knowledge.html'">
      What can be done with this data?
    </button>
  </div>

</div>

</body>
</html>
