<!DOCTYPE html>
<html>
<title>Data | Roots</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="static/images/roots-logo.png" sizes="16x16">
<link rel="stylesheet" href="static/css/style.css" />
<!-- <link rel="stylesheet" href="css/footer.css" /> -->
<!-- <link rel="stylesheet" href="css/nav.css" /> -->
<link rel="stylesheet" href="static/css/course-page.css" />
<body>

  <div class="flexRow">
    <!-- Sidebar -->
      <div class="sidebar-content">
        <div class="back-buttons">
          <a href="index.html">
            <h1>&lt <img src="static/images/roots-logo1.png" width="80"></h1>
          </a>
        </div>
        <h3 class="bar-heading">Data</h3>
        <ul>
          <li>
            <a href="data_real_first_page.html" class="side-link">Part 1: What is Data?</a>
          </li>
          <li>
            <a href="data-knowledge.html" class="side-link">Knowledge</a>
          </li>
          <li>
            <a href="data-wisdom.html" class="side-link">Wisdom</a>
          </li>
          <li>
            <a href="databases-intro.html" class="side-link">Part 2: Intro to Databases</a>
          </li>
          <li>
            <a href="how-databases-work.html" class="side-link">Relational Databases</a>
          </li>
          <li>
            <a href="relational_databases.html" class="side-link active">Important Terms</a>
          </li>
          <li>
            <a href="part_3_landing_page.html" class="side-link">Part 3: Real Life</a>
          </li>
    
          <li>
            <a href="how-they-do-it.html" class="side-link">How do they do it?</a>
          </li>
          <li>
            <a href="checking-gang-database.html" class="side-link">Chicago Gang Database</a>
          </li>
          <li>
            <a href="what-else.html" class="side-link">What else can you do</a>
          </li>
          <li>
            <a href="databases-resources.html" class="side-link">Resources</a>
          </li>
        </ul>
      </div>
<!-- Page Content -->
<div class="course-content">
  <h1 class="bar-heading">Part 2: Intro to Databases</h1>
  <div class="text-container">

    <p>
      The first important term is the primary key, which is a column in a database table that has a unique value that helps identify each individual record in a table. 
</p>

<p>
  As we’ll see later on, it helps implement a relationship between two tables in a relational database. 
</p>
<div style="width:50%;height:480px;background-color:black;text-align:center;">
  <a href="https://lh3.googleusercontent.com/2dVjcBadkU-pBzVBJzB6WbmmHnKhZ6KV92YhGVfPjnEPirJ5jL66-9pjav56foqSixwgKozYlF8QMLu03IduMo5Abddi14b4LHygmnoPP4mDNI9GVETo6NZMxt217F4YNO1oxz5iqA=w786-h278" target="_blank">
    <img style="height:100%;border:0;" src="https://lh3.googleusercontent.com/2dVjcBadkU-pBzVBJzB6WbmmHnKhZ6KV92YhGVfPjnEPirJ5jL66-9pjav56foqSixwgKozYlF8QMLu03IduMo5Abddi14b4LHygmnoPP4mDNI9GVETo6NZMxt217F4YNO1oxz5iqA=h480" />
  </a>
</div>

<p>

  
  

</p>
<p>
  The primary key in the example above in the playlists table is PlaylistId because each record has a different Id, which can uniquely identify each instance. 
</p>


  </div>
  <div class="next-button">
    <button onclick="window.location.href='databases-key-terms.html'">
      Next: Foreign Key
    </button>
  </div>

</div>

</body>
</html>