<!DOCTYPE html>
<html>
<title>Data | Roots</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="static/images/roots-logo.png" sizes="16x16">
<link rel="stylesheet" href="static/css/style.css" />
<!-- <link rel="stylesheet" href="css/footer.css" /> -->
<!-- <link rel="stylesheet" href="css/nav.css" /> -->
<link rel="stylesheet" href="static/css/course-page.css" />
<body>

    <div class="flexRow">
        <!-- Sidebar -->
          <div class="sidebar-content">
            <div class="back-buttons">
              <a href="index.html">
                <h1>&lt <img src="static/images/roots-logo1.png" width="80"></h1>
              </a>
            </div>
            <h3 class="bar-heading">Data</h3>
            <ul>
              <li>
                <a href="data_real_first_page.html" class="side-link">Part 1: What is Data?</a>
              </li>
              <li>
                <a href="data-knowledge.html" class="side-link">Knowledge</a>
              </li>
              <li>
                <a href="data-wisdom.html" class="side-link">Wisdom</a>
              </li>
              <li>
                <a href="databases-intro.html" class="side-link">Part 2: Intro to Databases</a>
              </li>
              <li>
                <a href="how-databases-work.html" class="side-link">Relational Databases</a>
              </li>
              <li>
                <a href="relational_databases.html" class="side-link">Important Terms</a>
              </li>
              <li>
                <a href="part_3_landing_page.html" class="side-link">Part 3: Real Life</a>
              </li>
        
              <li>
                <a href="how-they-do-it.html" class="side-link">How do they do it?</a>
              </li>
              <li>
                <a href="checking-gang-database.html" class="side-link">Chicago Gang Database</a>
              </li>
              <li>
                <a href="what-else.html" class="side-link active">What else can you do</a>
              </li>
              <li>
                <a href="databases-resources.html" class="side-link">Resources</a>
              </li>
            </ul>
          </div>
<!-- Page Content -->
<div class="course-content">
  <h1 class="bar-heading">Part 3: Real Life</h1>
  <div class="text-container">

<p>
    If you’re still in the mood to explore more places you might be exposed on the internet, Check if you have an email account that has been compromised in a data breach

<a href="https://haveibeenpwned.com">haveibeenpwned.com</a>

<p>
    What can you do about it? 
</p>

<p>
    Unfortunately, you cannot control the data scraping, but you can control how much information about yourself you put out there. So, edit your privacy settings right. Also, if you find yourself in the database of some “people-search” site you can ask them to remove your details, and then edit down the information made public via social networking.
<p>
    Facebook privacy issues should be a main concern when networking. As engaging applications created by independent software developers show up frequently, you can’t know which ones are the leakers. Sometimes, Facebook doesn’t either. We strongly recommend that you change your Facebook password after accepting an app, to invalidate those access tokens.
</p>
<p>
    Even if cookies are not necessarily harmful, just picture them as a quiet stalker following your every step. You can delete them from your web browser and limit what types of cookies may be placed on the computer.
</p>
</p>

</p>

  </div>
  <div class="next-button">
        <button onclick="window.location.href='databases-resources.html'">

      Next
    </button>
  </div>

</div>

</body>
</html>