<!DOCTYPE html>
<html>
<title>Data | Roots</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="static/images/roots-logo.png" sizes="16x16">
<link rel="stylesheet" href="static/css/style.css" />
<!-- <link rel="stylesheet" href="css/footer.css" /> -->
<!-- <link rel="stylesheet" href="css/nav.css" /> -->
<link rel="stylesheet" href="static/css/course-page.css" />
<body>

  <div class="flexRow">
    <!-- Sidebar -->
      <div class="sidebar-content">
        <div class="back-buttons">
          <a href="index.html">
            <h1>&lt <img src="static/images/roots-logo1.png" width="80"></h1>
          </a>
        </div>
        <h3 class="bar-heading">Data</h3>
        <ul>
          <li>
            <a href="data_real_first_page.html" class="side-link">Part 1: What is Data?</a>
          </li>
          <li>
            <a href="data-knowledge.html" class="side-link">Knowledge</a>
          </li>
          <li>
            <a href="data-wisdom.html" class="side-link">Wisdom</a>
          </li>
          <li>
            <a href="databases-intro.html" class="side-link">Part 2: Intro to Databases</a>
          </li>
          <li>
            <a href="how-databases-work.html" class="side-link">Relational Databases</a>
          </li>
          <li>
            <a href="relational_databases.html" class="side-link">Important Terms</a>
          </li>
          <li>
            <a href="part_3_landing_page.html" class="side-link">Part 3: Real Life</a>
          </li>
    
          <li>
            <a href="how-they-do-it.html" class="side-link">How do they do it?</a>
          </li>
          <li>
            <a href="checking-gang-database.html" class="side-link active">Chicago Gang Database</a>
          </li>
          <li>
            <a href="what-else.html" class="side-link">What else can you do</a>
          </li>
          <li>
            <a href="databases-resources.html" class="side-link">Resources</a>
          </li>
        </ul>
      </div>
<!-- Page Content -->
<div class="course-content">
  <h1 class="bar-heading">Part 3: Real Life</h1>
  <div class="text-container">

<p>
  Even though it’s hard to know if you’re in the Chicago Gang Database, it’s still possible by leveraging the Freedom of Information Act!
  This link takes you through the steps:
  <a href="http://erasethedatabase.com/foia/">http://erasethedatabase.com/foia/</a>

</p>

<p>Summary of what you have to do: </p>
<p>
  Step 1: Send Freedom of Information Act (FOIA) request using email template from the above website to the Chicago Police Department (CPD): 
</p>
<p>
  Step 2: Wait for a response
</p>
<p>
  Step 3: Fight the denial, or review your documents. To fight the denial, take the steps mentioned in the website above.
</p>

<p>
  If you need more help, Leave a voicemail on the Beyond Legal Aid helpline at (224) 307-6217 or email for support at <a href="mailto:GDBCoalition@gmail.com">GDBCoalition@gmail.com</a>
</p>


  </div>
  <div class="next-button">
    <button onclick="window.location.href='twitter_activity.html'">
      Next  
    </button>
  </div>

</div>

</body>
</html>